<% layout("./layouts/showPageBP") %>

    <h1 class="card-body">DELETE PAGE</h1>
    <form action="/study/<%=studyPage._id%>?_method=DELETE" method="POST">
        <div class="mb-3">
            <button class="btn btn-danger">Delete the whole page</button>
        </div>
    </form>


    <form action="/study/<%=studyPage._id%>?_method=PATCH" method="POST">
        <% if(studyPage.flashCard.length) {%>
            <% studyPage.flashCard.forEach( function(card,i){ %>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= card.term %>
                        </h5>
                        <div class="card-text ">
                            <%= card.definition %>
                        </div>
                    </div>
                    <div class="form-check-inline  peach">
                        <label class="peach" for="flashcard-<%=i%>">Delete?</label>
                        <input class="peach" type="checkbox" id="flashcard-<%=i%>" name="deleteCards[]"
                            value="<%=card._id%>">
                    </div>
                </div>

                <%}); %>
                    <% }%>


                        <br>
                        <% studyPage.multChoice.forEach((multChoice,i)=>{ %>
                            <div class="text-container card-text ">
                                <p class="item1">Question</p>
                                <p class="item2">Options</p>
                                <p class="item3">Answer</p>
                            </div>
                            <div class="question-container card-text ">
                                <p class="item1">
                                    <%= multChoice.question %>
                                </p>
                                <p class="item2">
                                    <%= multChoice.options %>
                                </p>
                                <p>
                                    <%= multChoice.answer %>
                                </p>
                            </div>
                            <div class="form-check-inline slategray mb">
                                <label for="mult-<%=i%>">Delete?</label>
                                <input type="checkbox" id="mult-<%=i%>" name="deleteMult[]" value="<%=multChoice._id%>">
                            </div>

                            <% } )%>
                                <br>
                                <button class="btn btn-info"> delete flashcards/questions </button>
    </form>