<% layout("./layouts/showPageBP") %>

    <div class="card my-3">
        <div class="card-body">
            <div class="card-title">

                <h1>
                    <%=studyPage.title%>
                </h1>
            </div>
            <div class="card-text">
                <h3>
                    <%= studyPage.subject %>
                </h3>
            </div>
            <a href="/user/<%=studyPage.owner._id%>" class="card-subtitle mb-2  d-block card-text text">By: <%=
                    studyPage.owner.username %>
            </a>

            <% if(currentUser && studyPage.owner.equals(currentUser) ){ %>
                <a class="text" href="/study/<%=studyPage._id%>/edit">Add to page</a>
                <a class="text" href="/study/<%=studyPage._id%>/delete">delete flashcards/questions </a>
                <% } %>
        </div>
    </div>
    <% for(let flashCard of studyPage.flashCard){ %>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    <%= flashCard.term %>
                </h5>
                <div class="card-text ">
                    <%= flashCard.definition %>
                </div>
            </div>
        </div>

        <% } %>


            <br>

            <% for(let multChoice of studyPage.multChoice ) { %>
                <div class="text-container card-text ">
                    <p class="item1">Question</p>
                    <p class="item2">Options</p>
                    <p class="item3">Answer</p>
                </div>
                <div class="question-container card-text mb">
                    <p class="item1">
                        <%= multChoice.question %>
                    </p>
                    <p class="item2">
                        <%= multChoice.options %>
                    </p>
                    <p>
                        <%= multChoice.answer %>
                    </p>
                </div>


                <% } %>