<% layout("./layouts/boilerplate") %>


    <div class="card my-3">
        <div class="card-body">
            <div class="card-title">

                <h1>
                    <%=studyPage.title%>
                </h1>
            </div>
            <div class="card-text">
                <h3>
                    <%= studyPage.subject %>
                </h3>
            </div>
            <h6 class="card-subtitle mb-2 text-muted">By: <%= studyPage.owner %>
            </h6>
            <a href="/study/<%=studyPage._id%>/edit">edit page</a>
            <a href="/study/<%=studyPage._id%>/delete">delete flashcards/questions </a>
        </div>
    </div>
    <% for(let flashCard of studyPage.flashCard){ %>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    <%= flashCard.term %>
                </h5>
                <div class="card-text ">
                    <%= flashCard.definition %>
                </div>
            </div>
        </div>

        <% } %>


            <br>
            <% for(let multChoice of studyPage.multChoice ) { %>

                <div class="row  border">
                    <div class="col border">
                        Question
                    </div>
                    <div class="col border">
                        Options
                    </div>
                    <div class="col border">
                        Answer
                    </div>
                </div>
                <div class="row mb-3 border">
                    <div class="col border">
                        <%= multChoice.question %>
                    </div>
                    <div class="col border">
                        <%= multChoice.options %>
                    </div>
                    <div class="col border">
                        <%= multChoice.answer %>
                    </div>
                </div>
                <% } %>


                    <script type="text/javascript" src="../controller/show.js"></script>